.nav-buttons {
  background-color: rgba(236, 240, 241, 1);
}

.worklist-card {
  background-color: rgba(236, 240, 241, 1);
}

[data-theme='dracula'] .worklist-card {
  background-color: rgba(44, 62, 80, 1);
  border-color: rgba(127, 140, 141, 1);
}

[data-theme='dracula'] .nav-buttons {
  background-color: rgba(236, 240, 241, 0.1);

  .nav-button-text {
    color: rgba(236, 240, 241, 1);
  }

  .nav-button-icon {
    color: rgba(236, 240, 241, 1);
  }
}
