<footer>
  <div class="
    py-12 lg:p-4
    prose max-w-none
    text-xs
    flex flex-row justify-center items-center
    ">
    <div class="flex flex-col items-center gap-2">

      <a href="//louiscklaw.github.io" class="flex flex-row items-center gap-1">
        <i class="fa-regular fa-copyright"></i>
        <div class="underline">2023 louis portfolio</div>
      </a>

      <div>
        building on top of <a href="//github.com/adityatelange/hugo-PaperMod" target="_blank">
          Hugo papermod
        </a>
      </div>
      <div class="flex gap-4">
        <div>
          <a href="//github.com/louiscklaw/portfolio-11ty" >
            <i class="fa-brands fa-github"></i><span class="pl-1">source</span>
          </a>
        </div>
        <div>
          <a href="//portfolio-sg.sentry.io/issues" class="flex gap-0" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-sentry"
              width="1rem" height="1rem"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none"/> <path d="M3 18a1.93 1.93 0 0 0 .306 1.076a2 2 0 0 0 1.584 .924c.646 .033 -.537 0 .11 0h3a4.992 4.992 0 0 0 -3.66 -4.81c.558 -.973 1.24 -2.149 2.04 -3.531a8.997 8.997 0 0 1 5.62 8.341h4c.663 0 2.337 .005 3 0a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-1.84 3.176c4.482 2.05 7.6 6.571 7.6 11.824" /> </svg>
            <span class="pl-1">issues</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
