---
layout: layouts/base.njk
---

<div>helloworld ? 12321</div>

<div>
  /en-US/tags/{{ 'tag' | slugify }}
</div>

1

<pre>
"/tags/" | locale_url
<pre>
<div>{{ "/tags/" | locale_url }}</div>

2
<div>
  {{ "/en-US/tags/{{ tag | slugify }}/" | locale_url }}
</div>

4
<div>
  {{ "/tags/" | locale_url }}{{ 'tag' | slugify }}</div>
